<h3>Create accont</h3>
<form [formGroup]="authForm">
    <div class="form-group">
        <label for="usernameControl">Username</label>
        <input type="text" class="form-control" id="usernameControl" placeholder="Enter username"
            formControlName="username">
    </div>
    {{authForm.get('username').errors | json}}
    <div class=" form-group">
        <label for="passwordControl">Password</label>

        <input type="password" class="form-control" id="passwordControl" placeholder="Password"
            formControlName="password">
    </div>
    {{authForm.get('password').errors|json}}
    <div class="form-group">
        <label for="confirmPasswordControl">Confirm password</label>
        <input type="password" class="form-control" id="confirmPasswordControl" placeholder="confirm password"
            formControlName="passwordConfirmation">
    </div>
    {{authForm.get('passwordConfirmation').errors | json}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

